node_modules
.env
package-lock.json
.pnp
.pnp.js
coverage
dist
dist-ssr
build
*.pem
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env\*.local
.vercel
*.tsbuildinfo
next-env.d.ts
